<div class="errorMsg alert"  style="    position: fixed;
z-index: 9999;
right: 2%;
top: 27%;">
    <app-alert></app-alert>
</div>
<section class="wrapper">
    <aside class="navigation">
        <div class="logo">
            <img src="assets/img/logo.png" alt="">
        </div>
        <nav>
            <ul>
                <li 
                    routerLink="/addbook" 
                    routerLinkActive="active"
                    #add="routerLinkActive">
                    <img src="assets/img/{{ add.isActive ? 'add_book_select' : 'add_books_default'}}.png" alt=""> 
                    Add Book
                </li>

                <li routerLink="/books" 
                    routerLinkActive="active"
                    #book="routerLinkActive">
                    <img src="assets/img/{{ book.isActive ? 'add_books_select' : 'books'}}.png" alt="">
                    <!-- <img src="assets/img/books.png" alt=""> -->
                    Books
                </li>

                <li routerLink="/favourites" 
                    routerLinkActive="active"
                    #fav="routerLinkActive">
                    <img src="assets/img/{{ fav.isActive ? 'favourite_select' : 'like'}}.png" alt="">
                    <!-- <img src="assets/img/like.png" alt=""> -->
                    Favourites
                </li>
                
            </ul>
        </nav>
        
    </aside>
    <main>
        <router-outlet></router-outlet>
    </main>
</section>